header,
footer {
  padding: 50px 0;
  background: black;
}

header p,
footer p {
  color: white;
  font-size: 30px;
  text-align: center;
}

.Container-Employees,
.Container-Companies,
.Container-Places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box-Employees,
.box-Companies,
.box-Places {
  padding: 10px;
  background: brown;
  margin: 10px;
}

.box-Employees p,
.box-Companies p,
.box-Places p {
  color: white;
}

